<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Employees List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../home">Employee List 1<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../product-details">Employee List 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../about">Employee List 3</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<app-emplist1></app-emplist1>
<app-emplist2></app-emplist2>
<app-emplist3></app-emplist3>