<table class="list">
    <tr>
        <th>id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
    </tr>
    <tr>
        <td>101</td>
        <td>James</td>
        <td>Dizon</td>
        <td>jdizon@hau.edu.ph</td>
    </tr>
    <tr>
        <td>102</td>
        <td>James</td>
        <td>Atienza</td>
        <td>jatienza@hau.edu.ph</td>
    </tr>
    <tr>
        <td>103</td>
        <td>John</td>
        <td>Cena</td>
        <td>jcena@hau.edu.ph</td>
    </tr>
    <tr>
        <td>104</td>
        <td>Robert</td>
        <td>Quinta</td>
        <td>rquinta@hau.edu.ph</td>
    </tr>
</table>
