<table class="list">
    <tr>
        <th>id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
    </tr>
    <tr>
        <td>105</td>
        <td>Paolo</td>
        <td>Tagulao</td>
        <td>pstagulao@hau.edu.com</td>
    </tr>
    <tr>
        <td>106</td>
        <td>Kyle</td>
        <td>Santos</td>
        <td>kyle_santos@hau.edu.ph</td>
    </tr>
    <tr>
        <td>107</td>
        <td>Robbie</td>
        <td>Gardner</td>
        <td>rgardner@hau.edu.ph</td>
    </tr>
    <tr>
        <td>108</td>
        <td>Beatrice</td>
        <td>Mateo</td>
        <td>beamateo@hau.edu.ph</td>
    </tr>
</table>